<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="editarTarea()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre de la Tarea:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre" [(ngModel)]="tarea.nombre" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="opciones"  [(ngModel)]="tarea.completado" name="completado">
      <label class="form-check-label" for="opciones">Completado</label>
    </div>
    <button class="btn btn-success">Enviar</button>
  </form>
</div>
